@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@theme {
  --animate-infinite-scroll: infinite-scroll 30s linear infinite;

  --color-primary: #72b334ff;
  --color-secondary: #f1f1f1;
  --color-tertiary: #010101;
}

@keyframes infinite-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@utility animate-infinite-scroll {
  animation: var(--animate-infinite-scroll);
}